node_modules
.next
out
build
dist

.env
.env.local
.env.*.local

prisma/dev.db
prisma/dev.db-journal
prisma/migrations/dev.db*

SEED_ACCOUNTS.md

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js

coverage
.vscode/*
!.vscode/extensions.json
.idea
.vercel

next-env.d.ts
*.tsbuildinfo
